<div class="container-small">
  <div class="my-3">
    <div class="card rounded-top-5 border-0">
      <%= form_with(url: root_path, method: :get) do |f| %>
        <div class="card-header p-3 bg-danger rounded-top-5 ">
          <%= f.search_field :q, id: "search_field", placeholder: "Search pokemon...", class: "form-control" %>

        </div>
        <div class="text-center card-body rounded-bottom-5 bg-light">
          <h3> Welcome to your Pokemon center </h3>
          <div class="p-4">
            <%= f.submit "POKE IT", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>

<% if @pokemon.present? %>
  <div class="d-flex justify-content-center">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="card text-center" style="max-width: 940px;">
        <div class="row g-0">
          <div class="col-md-4">
            <% if @pokemon_tcg_images_core.present? %>
              <%= image_tag @pokemon_tcg_images_core, class: "img-fluid rounded-start", alt: "Pokemon image" %>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= "NAME: #{@pokemon_name.capitalize}" %></h5>
              <p class="card-text"><%= "ABILITIES: #{@pokemon_ability.capitalize }" %></p>
              <p class="card-text"><%= "TYPE: #{@pokemon_types.capitalize }" %></p>
              <p class="card-text"><%= "EXP: #{@pokemon_exp }" %></p>
              <p class="card-text"><%= "WEIGHT: #{@pokemon_weight}" %></p>
              <hr>
              <p class="card-text"><small class="text-body-secondary"><%= @pokemon_tcg_txt %></small></p>
              <div>
                <%= image_tag @pokemon_image %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
<% else %>
  <div class="d-flex justify-content-center">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">

      <div class="card text-center" style="max-width: 640px;">
        <%= image_tag "no_pokemon.png" %>
      </div>
    </div>
  </div>
<% end %>


<% if @pokemon_tcg.present? %>
  <h1> TCG illustrations </h1>
  <div class="d-flex gap-3 justify-content-center flex-wrap">
    <% @pokemon_tcg_images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  </div>
<% end %>
