<div class="text-center">
  <h1> Welcome to your Pokemon center </h1>

</div>


<%= form_with(url: root_path, method: :get) do |f| %>
  <div class="mb-3">
    <label for="search_field" class="form-label"></label>
    <%= f.search_field :q, id: "search_field", placeholder: "Search pokemon...", class: "form-control" %>
  </div>
  <div class="text-center">
    <div class="p-4">
      <%= f.submit "POKE IT", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>



<% if @pokemon.present? %>
  <!--  <div class="shadow-none p-3 mb-5 bg-body-tertiary rounded">-->
  <%# 6.times do %>
  <%#= image_tag @pokemon_image %>
  <%#= image_tag @pokemon_image_shiny %>
  <%# end %>
  <!--  </div>-->



  <div class="d-flex justify-content-center">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="card text-center" style="max-width: 940px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= image_tag @pokemon_tcg_images_core, class: "img-fluid rounded-start", alt: "Pokemon image" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= "NAME: #{@pokemon_name.capitalize}" %></h5>
              <p class="card-text"><%= "ABILITIES: #{@pokemon_ability.capitalize }" %></p>
              <p class="card-text"><%= "TYPE: #{@pokemon_types.capitalize }" %></p>
              <p class="card-text"><%= "EXP: #{@pokemon_exp }" %></p>
              <p class="card-text"><%= "WEIGHT: #{@pokemon_weight}" %></p>
              <hr>
              <p class="card-text"><small class="text-body-secondary"><%= @pokemon_tcg_txt %></small></p>
              <div>
                <%= image_tag @pokemon_image %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <hr>

<% end %>

<h1> TCG illustrations </h1>

<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Abilities</th>
    <th scope="col">Experience</th>
    <th scope="col">Weight</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @pokemon_name %></td>
    <td><%= @pokemon_types %></td>
    <td><%= @pokemon_ability %></td>
    <td><%= @pokemon_exp %></td>
    <td><%= @pokemon_weight %></td>
  </tbody>
</table>


<% if @pokemon_tcg.present? %>

  <% @pokemon_tcg_images.each do |image| %>
    <%= image_tag image %>
  <% end %>


<% end %>